.main {

  display: grid;
  gap: 15px;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr 3fr;
  grid-template-areas: ' one one tow three four four'
                        'one one tow five six  seven'
                        'eight nine tow five ten ten'
                    'eight eliven thertin thertin ten ten'
                    'towelv towelv thertin thertin fourtin fourtin'

  ;
}


.one {
  grid-area: one;
  background-color: rgb(219, 3, 111);
  width: 100%;



}

.tow {
  width: 100%;
  height: 40vh;
  background-color: rgb(14, 216, 223);
  grid-area: tow;

}


.three {
  width: 100%;
  background-color: rgb(28, 199, 142);
  grid-area: three;

}


.four {
  background-color: rgb(35, 175, 240);
  grid-area: four;
  width: 100%;

}

.five {
  width: 100%;


  background-color: rgb(17, 121, 206);
  grid-area: five;


}

.six {

  width: 100%;
  grid-area: six;
  background-color: rgb(60, 171, 245);

}

.seven {
  width: 100%;
  grid-area: seven;
  background-color: orangered;

}

.eight {
  grid-area: eight;
  width: 100%;
  background-color: rgb(255, 123, 0);

}

.nine {
  grid-area: nine;
  width: 100%;
  background-color: rgb(96, 5, 133);

}


.ten {
  grid-area: ten;
  width: 100%;
  background-color: rgb(96, 5, 133);

}


.eliven {
  grid-area: eliven;
  width: 100%;
  background-color: rgb(96, 5, 133);

}



.towelv {
  grid-area: towelv;
  width: 100%;
  background-color: rgb(96, 5, 133);

}


.thertin {
  grid-area: thertin;
  width: 100%;
  background-color: rgb(96, 5, 133);

}

.fourtin {
  grid-area: fourtin;
  width: 100%;
  background-color: rgb(96, 5, 133);

}